body{
	margin: 0;
}
ul.navbar{
	position: fixed;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: black;
}
li.li{
	float: left;
}
li.li a.nav_entry{
	background-color: black;
	display: block;
	padding: 1vw;
	color: white;
	text-decoration: none;
	font-size: 1vw;
	border: none;
}
li.li a.nav_entry:hover{
	color: black;
	text-decoration: none;
	background-color: gray;
}
a.style{
	color: black;
	background-color: white;
}
a.style:hover{
	background-color: gray;

}
.dropbtn {
  background-color: black;
  display: block;
  color: white;
  padding: 0px;
  font-size: 1vw;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;	
  display: block;
}

.dropdown-content {
	display: none;
  position: absolute;
  background-color: white;
  min-width: 8vw;
  box-shadow: 0vw 0.4vw 0.8vw 0vw rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
	background-color: white;
  	color: black;
	  padding: 1vw;
	  font-size: 1vw;
 	text-decoration: none;
  	display: block;
}
.dropdown-content a:hover {background-color: gray}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: gray;
}
a.search:hover{
	color: white;
	text-decoration: none;
	background-color: red;

}
div.imgtext{
	position: absolute;
	top:43vw;
	color: white;
	text-align: center;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}
div.thebnad{
	width: 60%;
}
p.b{
	margin-left:20%;
	margin-right: 30%; 
	text-align: justify;
}
div.a{
	display: block;
	padding: 1%;
	float: left;
}
div.c{
	padding-left: 8%;
	padding-right: 8%;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}
div.temp{
	width: 17%;
	height: auto;
	float: left;
	background-color: black;
	display: block;
	padding: 1%;
}
div.t{
	background-color: white;
	display: block;
	height: auto;
}
div.d{
	overflow: hidden;

	
}
button.btn{
	background-color: black;
	border: none; 
	color: white ;
	margin-bottom: 0.5vw;
	margin-left: 1%;
	display: inline-block;
	font-size: 1.2vw;
	align-content: center;
	padding: 3%;
	margin-top: 2vw;
}
button.btn:hover{
	background-color: gray;
	color: black;
}
ul.date{
	background-color: white;
	color: gray;
	width: 60%;
	height: auto;
	list-style-type: none;
	margin-left: 20%;
	padding: 0.5%;
}
div.sold{
	background-color: red;
	float: right;
	width: auto;
	color: white;
	padding: 0.2%;
}
div.contact{
	overflow: hidden;

}
div.w{
	float: left
}
div.form{
	width: 30%;
	float: left;
}
input[type=name]{
	font-size: 1vw;
	padding: 0.5vw;
	width: 40%;
	float: left;
	margin-bottom: 0.3vw;
}
input[type=name]:focus{
	border-color: lightgreen;
}
input[type=email]{
	margin-left: 1%;
	font-size: 1vw;
	padding: 0.5vw;
	float: left;
	width: 40%;
	margin-bottom: 0.3vw;
}
input[type=email]:focus{
	border-color: lightgreen;
}
input[type=text]{
	font-size: 1vw;
	padding: 0.5vw;
	width: 85%;
	margin-bottom: 0.3vw;
}
input[type=text]:focus{
	border-color: lightgreen;
}
button.submit{
	background-color:black;
	color:white;
	padding: 0.5vw;
	font-size: 1.2vw;
	width: 10vw;
	border: none;
	margin-bottom: 5vw;
}
button.submit:hover{
	background-color: gray;
	color: black;
}


